.Characters {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.chars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 3rem;
}

.title {
  font-family: "Rubik-Bold";
  text-align: end;
  width: 100%;
  font-size: 1.5rem;
  color: #f37b87;
  padding-right: 6rem;
  filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
}

.sensorsBox,
.sensorsBox.blured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #bcbcbc91;
  border-radius: 80px 80px 60px 60px;
  max-width: 16rem;
  height: 38rem;
  border: 1px solid #ffffffa3;
  transition: scale 0.3s, filter 0.3s;
}

.sensorsBox.blured {
  scale: 0.95;
  filter: blur(1px) brightness(0.9);
}

.sensorImg img {
  width: 13rem;
  height: 17rem;
  object-fit: contain;
  padding: 1rem;
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.1));
  z-index: 2;
}

.sensorImg::after {
  left: 3rem;
  bottom: 0.7rem;
  content: "";
  display: block;
  width: 6.5rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  background-color: #00000030;
  filter: blur(7px);
  z-index: 1;
}

.sensorImg {
  position: relative;
  margin-top: 1rem;
  border-radius: 80px 80px 60px 60px;
  background-image: linear-gradient(
    0deg,
    hsl(240deg 44% 94%) 0%,
    hsl(240deg 44% 95%) 21%,
    hsl(240deg 44% 97%) 58%,
    hsl(241deg 44% 98%) 77%,
    hsl(241deg 44% 99%) 87%,
    hsl(241deg 44% 99%) 93%,
    hsl(241deg 44% 98%) 97%,
    hsl(240deg 44% 97%) 99%,
    hsl(240deg 44% 95%) 100%,
    hsl(240deg 44% 94%) 100%
  );
}

.charDesc {
  direction: rtl;
  color: #4d4d4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.charDescQuote {
  font-style: italic;
  font-size: 1.2rem;
  font-family: "Rubik-Italic";
  padding: 0 2rem;
  margin-bottom: 0;
  text-align: center;
}

.charDescInvite {
  font-family: "Rubik-Bold";
  padding: 0 2rem;
  margin-bottom: 2rem;
}

/* ---------------------------------------------------------------- */

.CharactersMobile {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.charsMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  margin: 0 3rem;
  margin-bottom: 3rem;
}

.titleMobile {
  font-family: "Rubik-Bold";
  text-align: center;
  width: 100%;
  font-size: 3rem;
  color: #f37b87;
  filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
}

.sensorsBoxMobile,
.sensorsBoxMobile.blured {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #bcbcbc91;
  border-radius: 70px;
  border: 1px solid #ffffffa3;
  transition: scale 0.3s, filter 0.3s;
  flex-direction: row;
  width: 50rem;
  height: 30rem;
  padding: 1rem;
}

.sensorsBoxMobile.blured {
  scale: 0.95;
  filter: blur(1px) brightness(0.9);
}

.sensorImgMobile img {
  width: 18rem;
  height: 26rem;
  object-fit: contain;
  padding: 1rem;
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.1));
  z-index: 2;
}

.sensorImgMobile::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  background-color: #00000030;
  filter: blur(7px);
  z-index: 1;
  left: 4rem;
  bottom: 0.7rem;
  width: 10rem;
  height: 2rem;
}

.sensorImgMobile {
  position: relative;
  border-radius: 60px;
  background-image: linear-gradient(
    0deg,
    hsl(240deg 44% 94%) 0%,
    hsl(240deg 44% 95%) 21%,
    hsl(240deg 44% 97%) 58%,
    hsl(241deg 44% 98%) 77%,
    hsl(241deg 44% 99%) 87%,
    hsl(241deg 44% 99%) 93%,
    hsl(241deg 44% 98%) 97%,
    hsl(240deg 44% 97%) 99%,
    hsl(240deg 44% 95%) 100%,
    hsl(240deg 44% 94%) 100%
  );
  margin: 1rem;
}

.charDescMobile {
  direction: rtl;
  color: #4d4d4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.charDescQuoteMobile {
  font-style: italic;
  font-size: 2rem;
  font-family: "Rubik-Italic";
  padding: 0 2rem;
  margin-bottom: 0;
  text-align: center;
}

.charDescInviteMobile {
  font-family: "Rubik-Bold";
  padding: 0 2rem;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1424px) {
  .sensorImg img {
    width: 12rem;
    height: 15rem;
  }
}

@media (max-width: 1382px) {
  .sensorImg img {
    width: 10rem;
    height: 14rem;
    object-fit: contain;
    padding: 1rem;
    filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.1));
    z-index: 2;
  }

  .sensorImg::after {
    left: 2.2rem;
    bottom: 0.7rem;
    width: 6.5rem;
    height: 2rem;
  }
}

@media (max-width: 1280px) {
  .charDescQuote {
    font-size: 0.9rem;
  }

  .charDescInvite {
    font-size: 0.7rem;
  }

  .sensorsBox,
  .sensorsBox.blured {
    width: 12rem;
    height: 29rem;
  }

  .sensorImg img {
    width: 9rem;
    height: 12rem;
  }

  .sensorImg::after {
    left: 2rem;
    bottom: 0.7rem;
    width: 5rem;
    height: 1.5rem;
  }
}

/* @media (max-width: 1084px) {
  .chars {
    flex-direction: column;
    margin: 0 3rem;
    margin-bottom: 3rem;
  }

  .sensorsBox,
  .sensorsBox.blured {
    flex-direction: row;
    width: 45rem;
    height: 15rem;
    max-width: 45rem;
  }

  .sensorImg img {
    width: 10rem;
    height: 13rem;
  }

  .sensorImg {
    margin: 1rem;
  }

  .charDescQuote {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .charDescInvite {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .sensorImg::after {
    left: 2.6rem;
    bottom: 0.7rem;
    width: 6.5rem;
    height: 2rem;
  }
} */

@media (max-width: 640px) {
  .chars {
    flex-direction: column;
    margin: 0 3rem;
    margin-bottom: 3rem;
  }

  .sensorsBox,
  .sensorsBox.blured {
    flex-direction: row;
    width: 28rem;
    height: 12rem;
    max-width: 40rem;
    border-radius: 60px 60px 50px 50px;
  }

  .sensorImg img {
    width: 8rem;
    height: 10rem;
    border-radius: 60px 60px 50px 50px;
  }

  .sensorImg {
    margin: 1rem;
  }

  .charDescQuote {
    font-size: 0.9rem;
    text-align: start;
    margin-bottom: 0;
  }

  .charDescInvite {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  .title {
    font-family: "Rubik-Bold";
    text-align: end;
    width: 80%;
    padding: 0;
    font-size: 1.2rem;
    color: #f37b87;
    text-align: center;
  }

  .sensorImg::after {
    left: 1.6rem;
    bottom: 0.7rem;
    width: 5rem;
    height: 1rem;
    filter: blur(4px);
  }
}

@media (max-width: 500px) {
  .Characters {
    height: 100%;
  }

  .chars {
    flex-direction: column;
    margin: 0 3rem;
    margin-bottom: 3rem;
  }

  .sensorsBox,
  .sensorsBox.blured {
    flex-direction: row;
    width: 20rem;
    height: 12rem;
    max-width: 40rem;
    border-radius: 50px;
  }

  .sensorImg img {
    width: 6rem;
    height: 9rem;
  }

  .sensorImg {
    margin: 1rem;
    border-radius: 50px;
  }

  .charDescQuote {
    font-size: 0.7rem;
    text-align: start;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .charDescInvite {
    font-size: 0.65rem;
    margin-bottom: 2rem;
  }

  .title {
    font-family: "Rubik-Bold";
    text-align: end;
    width: 80%;
    padding: 0;
    font-size: 1rem;
    color: #f37b87;
    text-align: center;
  }

  .sensorImg::after {
    left: 1.2rem;
    bottom: 0.9rem;
    width: 3.5rem;
    height: 1rem;
    filter: blur(4px);
  }
}
