.menuLink {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: "Rubik-Bold";
    padding: 2dvw 4dvw;
}

.menuItem:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.menuItem {
    direction: rtl;
    padding-inline: 1rem;
    padding-block: 1.5rem;
    border-bottom: 1px solid #ccc;
}
