.author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Rubik-Bold";
  text-align: end;
  width: 90%;
  font-size: 1.5rem;
  color: #f37b87;
  padding-right: 6rem;
}

.title h1 {
  margin: 0;
  filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
}

.parbox {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  padding-right: 2rem;
  position: relative;
  margin-right: 1rem;
}

.parboxImg img {
  vertical-align: middle;
  width: 370px;
  height: 445px;
  border-radius: 50%;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)) brightness(1.1);
  rotate: -5deg;
  object-fit: cover;
  position: relative;
  right: -7rem;
  transition: all 0.8s;
  border: 3px solid rgba(106, 106, 106, 0.572);
}

.parboxImg img:hover {
  transition: all 0.8s;
  scale: 1.05;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2)) brightness(1.1);
}

.par {
  min-width: 36rem;
  max-width: 70rem;
  font-size: 1.5rem;
  padding: 3rem 2rem;
  padding-left: 9rem;
  direction: rtl;
  background-color: aliceblue;
  border-radius: 50px;
  color: #4d4d4d;
}

.tellmemore {
  padding: 0rem 1rem;
  border-radius: 15px;
  background-color: #4c9aac;
  color: white;
  font-size: 1.2rem;
  position: absolute;
  left: 1rem;
  direction: rtl;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  bottom: -1rem;
  left: 28rem;
  font-family: "Rubik-Bold";
  transition: all 0.8;
}

.tellmemore a {
  color: white;
  text-decoration: none;
}

.tellmemore:hover {
  transition: all 0.8;
  opacity: 0.8;
}

.madadon img {
  object-fit: contain;
  width: 28rem;
}

.ortzeva2 img {
  object-fit: contain;
  width: 8rem;
}

.ortzeva2 {
  position: relative;
}

.ortzeva2::after {
  left: 0rem;
  bottom: -0.4rem;
  content: "";
  display: block;
  width: 8rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  background-color: #0000003a;
  filter: blur(5px);
  z-index: 1;
}

.photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0;
}

@media screen and (max-width: 1180px) {
  .madadon {
    right: 2rem;
    bottom: 1rem;
  }

  .madadon img {
    object-fit: contain;
    width: 24rem;
  }
}