.author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  /* background: rgb(65 122 247 / 20%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  padding-inline: 6rem;
}

.titleContainer {
  font-family: "Rubik-Bold";
  text-align: end;
  width: 100%;
  font-size: 2rem;
  color: #f37b87;
  margin-bottom: 4rem;
}

.titleContainer .title {
  margin: 0;
  filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
}

.content {
  display: flex;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.parbox {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  height: 100%;
  flex: 2 1;
  justify-content: space-between;
}

.parboxImg {
  flex: 1;
}

.parboxImg img {
  border-radius: 10px;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)) brightness(1.1);
  object-fit: contain;
  transition: all 0.3s;
  border: 3px solid rgba(106, 106, 106, 0.572);
  width: 100%;
}

.par {
  padding: 1.5rem 2rem;
  padding-left: 3rem;
  direction: rtl;
  background-color: aliceblue;
  border-radius: 10px;
  color: #4d4d4d;
  font-size: 1.25rem;
  margin: 0;
  margin-block-end: 2rem;
}

.tellmemore {
  padding: 0.6rem 0.8rem;
  border-radius: 10px;
  background-color: #4c9aac;
  font-size: 1.6rem;
  direction: rtl;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: "Rubik-Bold";
  transition: all 0.3s;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}

.tellmemore {
  color: white;
  text-decoration: none;
}

.tellmemore:hover {
  transition: all 0.3s;
  scale: 1.1;
  background-color: #56afc3;
}

.imageConatiner{
  display: flex;
  width: 20dvw;
  cursor: pointer;
}

.imageConatiner .image{
  object-fit: contain;
  width: 100%;
}


/* ---------------------------------------------------------------- */

.authorMobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
  width: 95%;
  margin: 0 auto;
}

.aboutBoxMobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
}

.titleContainerMobile {
  font-family: "Rubik-Bold";
  text-align: center;
  width: 100%;
  font-size: 3rem;
  color: #f37b87;
}

.titleContainerMobile .title {
  margin: 0;
  filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
}

.parboxMobile {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column-reverse;
  width: 90%;
  position: relative;
  margin: 2rem;
  gap: 2rem;
}

.parboxImgMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.parboxImgMobile img {
  vertical-align: middle;
  width: 55dvw;
  height: 75dvw;
  border-radius: 20px;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)) brightness(1.1);
  object-fit: cover;
  right: -7rem;
  transition: all 0.3s;
  border: 3px solid rgba(106, 106, 106, 0.572);
}

.parMobile {
  font-size: 2.6rem;
  padding: 4rem;
  direction: rtl;
  background-color: aliceblue;
  border-radius: 50px;
  color: #4d4d4d;
  width: 90%;
  margin: 0 auto;
}

.tellmemoreMobile {
  padding: 0.75rem 2rem;
  background-color: #4c9aac;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-family: "Rubik-Bold";
  font-size: 4rem;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
  width: 90%;
  transition: 0.2s;
  margin: 0 auto;
  margin-top: 3rem;
}

.tellmemoreMobile{
  color: white;
  text-decoration: none;
}

.tellmemoreMobile:hover {
  transition: all 0.3s;
  scale: 0.9;
  background-color: #56afc3;
}

.aboutBoxMobile .content{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.aboutBoxMobile .image{
  display: none;
}

@media (max-width: 1280px) {
  .par {
    padding: 2rem 1.5rem;
    padding-left: 3rem;
    font-size: 1rem;
  }

  .parboxImg img {
    border-radius: 10px;
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)) brightness(1.1);
    object-fit: contain;
    transition: all 0.3s;
    border: 3px solid rgba(106, 106, 106, 0.572);
    width: 100%;
  }

  .tellmemore {
    font-size: 1.2rem;
    min-width: 7rem;
  }

  .ortzeva2 img {
    object-fit: contain;
    width: 4rem;
    cursor: pointer;
  }

  .ortzeva2::after {
    width: 4rem;
  }

  .bottom {
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding-inline: 6rem;
    padding-inline-start: 10rem;
  }

  .imageConatiner{
    width: 15rem;
  }
}
