.author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  max-width: 1500px;
  scroll-snap-align: start;
  /* background: rgb(65 122 247 / 20%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  padding-inline: 6rem;
}

.titleContainer {
  font-family: "Rubik-Bold";
  text-align: end;
  width: 100%;
  font-size: 1.75rem;
  color: #f37b87;
  margin-bottom: 2rem;
}

.titleContainer .title {
  margin: 0;
  filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
}

.content {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.parbox {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  height: 100%;
  flex: 2 1;
  justify-content: space-between;
}

.parboxImg {
  flex: 1;
}

.parboxImg img {
  border-radius: 10px;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)) brightness(1.1);
  object-fit: contain;
  transition: all 0.3s;
  border: 3px solid rgba(106, 106, 106, 0.572);
  width: 100%;
}

.par {
  padding: 1.5rem 2rem;
  padding-left: 3rem;
  direction: rtl;
  background-color: aliceblue;
  border-radius: 10px;
  color: #212121;
  font-size: 1.35rem;
  margin: 0;
  margin-block-end: 2rem;
}

.tellmemore {
  padding: 0.6rem 0.8rem;
  border-radius: 10px;
  background-color: #4c9aac;
  font-size: 1.6rem;
  direction: rtl;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: "Rubik-Bold";
  transition: all 0.3s;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}

.tellmemore {
  color: white;
  text-decoration: none;
}

.tellmemore:hover {
  transition: all 0.3s;
  scale: 1.1;
  background-color: #56afc3;
}

.imageConatiner {
  display: flex;
  width: 20dvw;
  cursor: pointer;
}

.imageConatiner .image {
  object-fit: contain;
  width: 100%;
}

@media (max-width: 768px) {
  .author {
    justify-content: space-evenly;
    min-height: 100dvh;
    max-width: unset;
  }

  .aboutBox {
    justify-content: space-evenly;
    gap: 1rem;
    margin: 3rem 0;
    height: auto;
    padding-inline: 0;
  }

  .titleContainer {
    text-align: center;
    font-size: 1.5rem;
  }

  .titleContainer .title {
    margin: 0;
    filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
  }

  .parbox {
    justify-content: start;
    align-items: center;
    flex-direction: column-reverse;
    width: 90%;
    position: relative;
    margin: 2rem;
    gap: 2rem;
  }

  .parboxImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    flex: unset;
  }

  .parboxImg img {
    vertical-align: middle;
    width: 55dvw;
    height: 75dvw;
    border-radius: 20px;
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)) brightness(1.1);
    object-fit: cover;
    right: -7rem;
    transition: all 0.3s;
    border: 3px solid rgba(106, 106, 106, 0.572);
  }

  .par {
    font-size: 1.1rem;
    padding: 2rem;
    border-radius: 16px;
    width: 90%;
    margin: 0 auto;
    margin-block-end: 0;
  }

  .tellmemore {
    padding: 0.75rem 2rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
    width: 90%;
    transition: 0.2s;
    margin: 0 auto;
    margin-top: 3rem;
    text-decoration: none;
  }

  .tellmemore:hover {
    transition: all 0.3s;
    scale: 0.9;
    background-color: #56afc3;
  }

  .aboutBox .content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .aboutBox .image {
    display: none;
  }
}

@media (max-width: 1280px) {
  .par {
    padding: 2rem 1.5rem;
    padding-left: 3rem;
    font-size: 1rem;
  }

  .parboxImg img {
    border-radius: 10px;
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)) brightness(1.1);
    object-fit: contain;
    transition: all 0.3s;
    border: 3px solid rgba(106, 106, 106, 0.572);
    width: 100%;
  }

  .tellmemore {
    font-size: 1.2rem;
    min-width: 7rem;
  }

  .ortzeva2 img {
    object-fit: contain;
    width: 4rem;
    cursor: pointer;
  }

  .ortzeva2::after {
    width: 4rem;
  }

  .bottom {
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding-inline: 6rem;
    padding-inline-start: 10rem;
  }

  .imageConatiner {
    width: 15rem;
  }
}
