.titleBox {
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 5rem);
}

.title img {
  max-width: 60%;
  object-fit: contain;
  animation: floatUpDown 3s ease-in-out infinite;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.scrollDown {
  width: 2rem;
  height: 4rem;
  border: 3px solid #b7b7b7;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.21);
  z-index: 1;
}

.scrollDownCircle {
  background-color: #b7b7b7;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin: 2rem 0;
  animation: scrollIcon 2s ease-in-out infinite;
}

/* ---------------------------------------------------------------- */

.titleBoxMobile {
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vw;
}

.titleMobile img {
  max-width: 75%;
  object-fit: contain;
  animation: floatUpDown 3s ease-in-out infinite;
}

.titleMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.scrollDownMobile {
  width: 4rem;
  height: 8rem;
  border: 3px solid #b7b7b7;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.21);
  z-index: 1;
}

.scrollDownCircleMobile {
  background-color: #b7b7b7;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  margin: 4rem 0;
  animation: scrollIcon 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, -2%, 0);
  }
}

@keyframes scrollIcon {
  0%,
  100% {
    transform: translate3d(0, -150%, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1250px) {
  .title img {
    max-width: 40rem;
    object-fit: contain;
  }

  .titleBox {
    min-height: 100vw;
  }
}

@media screen and (max-width: 680px) {
  .title img {
    width: 32rem;
    object-fit: contain;
    z-index: 1;
    animation: floatUpDown 3s ease-in-out infinite;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
  }
}

@media screen and (max-width: 550px) {
  .title img {
    width: 26rem;
    object-fit: contain;
    z-index: 1;
    animation: floatUpDown 3s ease-in-out infinite;
  }
}

@media screen and (max-width: 450px) {
  .title img {
    width: 20rem;
    object-fit: contain;
    z-index: 1;
    animation: floatUpDown 3s ease-in-out infinite;
  }

  .scrollDown {
    width: 1.5rem;
    height: 3rem;
    border: 3px solid #b7b7b7;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.21);
    z-index: 1;
  }

  .scrollDownCircle {
    background-color: #b7b7b7;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    margin: 1.5rem 0;
    animation: scrollIcon 2s ease-in-out infinite;
  }
}
