.main {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/background.png");
  background-position: top;
  background-size: contain;
  background-repeat: round;
}