.header,
.headerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-left: 1.5rem;
  background-color: #ffef5c;
  /* height: 10rem; */
  position: fixed;
  z-index: 10;
  font-family: "Rubik-Bold";
  top: 0;
  animation: 0.3s slideDown ease-out forwards;
  width: 100%;
}

.header.hidden,.headerMobile.hidden {
  animation: 0.3s slideUp ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.header.sticky,
.headerMobile.sticky {
  position: sticky;
  top: 0px;
}

.headerLogo {
  height: 3.5rem;
  display: flex;
  object-fit: contain;
}

.header_nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header_link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.header_link:hover {
  color: white;
}

.header a {
  color: #53524d;
  font-weight: bold;
  text-decoration: none;
}

.headerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-left: 1.5rem;
  background-color: #ffef5c;
  height: 10rem;
  z-index: 10;
  font-family: "Rubik-Bold";
  /* position: sticky;
  top: 0; */
}

.header_navMobile,
.header_linkMobile {
  display: none;
}

.headerLogoMobile {
  height: 8rem;
  display: flex;
  object-fit: contain;
}

@media (max-width: 450px) {
  .header_logo {
    height: 3rem;
    display: flex;
    object-fit: contain;
  }
}
