.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-left: 1.5rem;
  background-color: #ffef5c;
  height: 5rem;
  z-index: 10;
  font-family: "Rubik-Bold";
  /* position: sticky;
  top: 0; */
}

.header_logo {
  height: 3.5rem;
  display: flex;
  object-fit: contain;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.header_link:hover {
  color: white;
}

.header a {
  color: #53524d;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 450px) {
  .header_logo {
    height: 3rem;
    display: flex;
    object-fit: contain;
  }
}