.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ffef5c;
  height: 4rem;
  z-index: 10;
  font-family: "Rubik-Bold";
}

.header_logo {
  height: 3rem;
  display: flex;
  object-fit: contain;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

.header_link:hover {
  color: white;
}

.header a {
  color: #4d4d4d;
  font-weight: bold;
  text-decoration: none;
}