
.media {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/background.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  margin-top: 5rem;
}

.title {
    font-family: "Rubik-Bold";
    text-align: end;
    width: 100%;
    font-size: 1.5rem;
    color: #f37b87;
    padding-right: 6rem;
  }
  
  .title h2 {
    margin: 0;
    filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
  }

  .titleMobile {
    font-family: "Rubik-Bold";
    text-align: center;
    width: 100%;
    font-size: 3rem;
    color: #f37b87;
  }
  
  .titleMobile h2 {
    margin: 0;
    filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
  }


@media (max-width: 1240px) {
    .title {
      width: 80%;
      padding: 0;
      font-size: 1.2rem;
      text-align: center;
    }

    .media{
      margin-top: 10rem;
      padding: 4rem 2rem;
    }
  }
  