.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ffef5c;
  height: 7rem;
  gap: 2rem;
}

.footer h5 {
  margin: 0.2rem;
}

.footerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.iconRow {
  display: flex;
  justify-content: start;
  align-items: center;
  width: -webkit-fill-available;
  gap: 0.5rem;
}

.icon {
  color: black;
  cursor: pointer;
}
