.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #ffef5c;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    height: 5rem;
}

.footer h5 {
    margin: 0.2rem;
}