.clouds {
  width: 100%;
  position: absolute;
  height: 100%;
}

.cloud1 {
  width: 5dvw;
  opacity: 0.8;
  position: absolute;
  top: 10dvw;
}

.cloud2 {
  width: 12dvw;
  opacity: 0.6;
  position: absolute;
  top: 20dvw;
}

.cloud3 {
  width: 18dvw;
  opacity: 0.5;
  position: absolute;
  top: 11dvw;
}

.cloud4 {
  width: 5dvw;
  opacity: 0.3;
  position: absolute;
  top: 27dvw;
}

.cloud5 {
  width: 12dvw;
  position: absolute;
  opacity: 0.9;
  top: 9dvw;
}

.cloud6 {
  width: 18dvw;
  opacity: 0.7;
  position: absolute;
  top: 29dvw;
}

@media (max-width: 1024px) {
  .clouds {
    margin-top: 10dvw;
  }
}