
.media {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/background.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  margin-top: 5rem;
  max-width: 1500px;
  direction: ltr;
}

.title {
    font-family: "Rubik-Bold";
    text-align: end;
    width: 100%;
    font-size: 1.5rem;
    color: #f37b87;
    padding-inline-start: 6rem;
  }
  
  .title h2 {
    margin: 0;
    filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
  }

@media (max-width: 768px) {
  .media {
    margin-top: 5rem;
    padding: 1rem;
    height: auto;
    min-height: 100dvh;
  }

  .title {
    text-align: center;
    font-size: 1.5rem;
    padding-inline-start: 0;
  }

  .title h2 {
    margin: 0;
    filter: drop-shadow(0 2px rgba(0, 0, 0, 1));
  }
}
  